<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>url shortener</title>
  </head>
  <body>
    <div class="container">
      <h1>URL SHORTENER</h1>
      <form action="" method="post">
        <label for="fullUrl">Url</label>
        <input
          type="url"
          name="fullurl"
          id="fullurl"
          placeholder="Enter a URL"
        />
        <input type="button" value="Submit" />
      </form>
      <table>
          <thead>
              <tr>
                  <th>Full Url</th>
                  <th>Short Url</th>
                  <th>Clicked</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><a href="https://www.w3schools.com">https://www.w3schools.com</a></td>
                  <td><a href="1234">1234</a></td>
                  <td>5</td>
              </tr>
          </tbody>
      </table>
    </div>
  </body>
</html>
